.barraSuperior {
    background-color: rgb(147, 4, 175); /* Color rosa */
    width: 100%;
    height: 70px; /* Ajustar la altura según sea necesario */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.barraSuperior .logo {
    float: left;
}

.barraSuperior .barraNavegacion {
    float: right;
}

.barraNavegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.barraNavegacion ul li {
    display: inline;
    margin-left: 20px;
}

.barraNavegacion ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Letras negras */
}

/* Estilos para la segunda barra de navegación */
.segundaBarra {
    background-color: rgb(0, 0, 0); /* Color negro */
    color: rgb(255, 255, 255); /* Letras blancas */
    width: 100%;
    height: 50px; /* Ajustar la altura según sea necesario */
    position: fixed;
    top: 70px; /* Ajustar según la altura de la primera barra */
    left: 0;
    z-index: 1000;
}

.opcionesBlanco ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.opcionesBlanco ul li {
    display: inline;
    margin-left: 20px;
}

.opcionesBlanco ul li a {
    text-decoration: none;
    color: white; /* Letras blancas */
}


/* Estilos para el recuadro */
.recuadro {
    border: 5px solid black;
    box-sizing: border-box;
    display: flex;
    height: 400px; /* Ajustar la altura según sea necesario */
    margin: 5% auto; /* Centrar verticalmente y alinear horizontalmente */
    max-width: 60%; /* Ajustar según sea necesario */
    overflow: hidden; /* Evitar que el contenido desborde */
    position: relative;
}

/* Estilos para el contenido adicional */
.contenidoAdicional {
    flex: 1; /* El contenido ocupa el espacio restante */
    overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
    padding: 20px; /* Ajustar según sea necesario */

}

/* Estilos para la imagen adicional */
.imagenAdicional {
    flex: 1; /* La imagen ocupa el espacio restante */
    object-fit: cover; /* Ajustar la imagen para cubrir el espacio disponible */
     height: 100%; /* La imagen ocupa toda la altura del recuadro */
    width: 50%; /* La imagen ocupa la mitad del recuadro */
    float: right;
    margin-top: 1px;

}

/* Estilos para la navegación */
.navegacion {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2; /* Asegura que las flechas estén sobre la imagen */
}

/* Resto de los estilos... */

/* Estilos para la barra inferior */
footer {
    background-color: black; /* Color negro */
    color: white; /* Letras blancas */
    width: 100%;
    height: 50px; /* Ajustar la altura según sea necesario */
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center; /* Centrar el texto */
    line-height: 50px; /* Centrar verticalmente el texto */
    margin-top: 10px;
}

.barraNegra {
    text-align: center;
    padding-top: 15px;
}
